.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data-raw/int/people.fst
data-raw/int/people.fst
*.dll
*.o
README.html
data-raw/EpiSims-2020-04-28-12-50-10.rds
data-raw/EpiSims20200428-by-e.fst
data-raw/Policy.fst
data-raw/SP.rds
*.txt
.Rprofile
*.so
tech-supp/covid19-tech-suppl.toc
tech-supp/covid19-tech-suppl.run.xml
tech-supp/covid19-tech-suppl.pdf
tech-supp/covid19-tech-suppl.out
tech-supp/covid19-tech-suppl.log
tech-supp/covid19-tech-suppl.fn100
tech-supp/covid19-tech-suppl.bcf
tech-supp/covid19-tech-suppl.aux
tech-supp/covid19-tech-suppl
tech-supp/covid19-tech-suppl.bbl
tech-supp/covid19-tech-suppl.blg
tech-supp/covid19-tech-suppl.fdb_latexmk
tech-supp/covid19-tech-suppl.fls
tech-supp/covid19-tech-suppl.synctex.gz
